#display{
	font-family: "Arial";
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#operation{
	font-family: "Arial";
	font-size: 10px;
}

.btn0{
	font-family: "Arial";
	font-size: 28px;
	margin: 0 auto;
	margin-right: 5px;
	margin-top: 5px;
	width: 70px;
	color: blue;
}

.btnStandard{
	font-family: "Arial";
	margin-right: 5px;
	margin-top: 5px;
	width: 30px;
	font-size: 28px;
	color: blue;
}

.btnVert{
	font-family: "Arial";
	margin-right: 10px;
	margin-top: -40px;
	height: 83px;
	font-size: 28px;
	float: right;
	width: 30px;
	color: green;
}

body{
	margin-left: auto;
	margin-right: auto;
	width: 195px;
}

#test{
    width: 100px;
    height: 100px;
    background: black;
}

#history{
    width: 300px;
}